<nav class="header scroll-section">
    <ul>
        <li><a href="">Projects</a></li>
        <li><a href="">Work Experience</a></li>
        <li><img src="/assets/icons/icons8-linkedin.svg" alt="Jaime's LinkedIn"></li>
        <li><img src="/assets/icons/icons8-github.svg" alt="Jaime's Github"></li>
    </ul>
</nav>