<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaime Martin Dolor's Resume</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('components/header.ejs') %>

    <div class="introduction scroll-section">
        <h1>I'm Jaime Dolor.</h1>
        <div class="subtitles">
            <p>I write code.</p>
            <p>Games. Tools. Websites.</p>
            <p>Generalist.</p>
            <p>Professional.</p>
        </div>
    </div>
    <div class="introduction scroll-section">
        <h1>I'm Jaime Dolor.</h1>
        <div class="subtitles">
            <p>I write code.</p>
            <p>Games. Tools. Websites.</p>
            <p>Generalist.</p>
            <p>Professional.</p>
        </div>
    </div>

    <script type="module" src="/js/scroll-snapping.js"></script>
</body>
</html>