<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaime Martin Dolor's Resume</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('components/header.ejs') %>

    <div class="title-box scroll-section">
        <h1 class="title-font">I'm Jaime Dolor.</h1>
        <div class="subtitles">
            <p>I write code.</p>
            <p>Games. Tools. Websites.</p>
            <p>Generalist.</p>
            <p>Professional.</p>
        </div>
    </div>

    <div class="title-box scroll-section">
        <h2 class="title-font right-align">About Me</h2>
        <div class="pic-right-caption">
            <p>
                I'm a graduate of game development with a strong passion for programming in all its forms. 
                I specialize in gameplay programming, tools development, and optimization where I enjoy solving complex problems to create smooth, 
                engaging, and visually compelling experiences for the player, all the while improving efficiency and productivity for the development team. 
                
                <br><br>As I continue to grow, I'm expanding my skills beyond games into broader software and application development, 
                exploring how my skills and perspective from game development can offer a new way of building interactive, efficient and critical applications. 
                
                <br><br>Whether it's refining performance, crafting real-time visuals, 
                or architecting reliable tools, I thrive on bringing ideas to life through thoughtful and purposeful code.
            </p>
            <img src="/assets/pictures/jaime-pic.jpg" alt="jaime's portrait">

        </div>
        </div>
    </div>
</body>
</html>