*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y proximity; */

    font-family: "Noto Sans JP", sans-serif;

    font-weight: 500;
    font-style: normal;
}

.header {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-around;
}

.header > ul {
    display: flex;
    list-style: none;
    gap: 5em;

    align-items: center;
}

.header > ul a {
    text-decoration: none;
    color: inherit;

    font-size: 0.8rem;
}

.header img {
    width: 30px;
    height: 30px;
}

.spacer {
    height: 50rem;
}

.title-box > .title-font {

    margin-top: 0em;
    margin-bottom: 0.5em;

    font-size: 3.75em;
    font-weight: 600;
}

.subtitles {
    display: flex;
    flex-direction: column;
}

.subtitles p {
    margin: 0.25em;

    font-size: 1.15em;
    font-weight: 500;
}

.scroll-section {
    /* scroll-snap-align: center;
    scroll-snap-stop: always; */

    
    height: 50vh;
    margin: 10em 10em 10em 10em;
}

.scroll-section.header {
    height: 1rem;
    margin: 3em 0 0 80em;
}

.scroll-section.right-align > h1{
    text-align: right;
}

.title-box .pic-right-caption {
    display: flex;
    align-items: center;

    margin: 5em 0em 5em 0em
}

.title-box > .pic-right-caption > img {
    height: 450px;
    width: 450px;

    filter: brightness(0.9);
    box-shadow: -5px 5px 15px 5px rgb(27, 27, 27);

    border-radius: 8px; /* for rounded corners */
}

.title-box > .pic-right-caption > p {
    padding: 0em 10em 0em 0em;

    text-align: justify;

    line-height: 2;
    font-weight: 400;
}

.right-align {
    text-align: right;
}